<h2>Nuevo Producto</h2>
    <form action="">
        <input  type="number"  placeholder="id">
         <input type=”text”   placeholder="Nombre">
         <input type=”number”  placeholder="precio">
    </form>
    

    <h2>Lista de Productos</h2>
<ul>
    <li *ngFor = "let elemento of productos">
        <span [ngStyle]="{'color': elemento.descuento ? 'green' : 'black' }">
            {{elemento.id}}
            {{elemento.nombre}}
            Precio:{{elemento.precio}}
            {{elemento.descuento}}
            <span *ngIf="elemento.descuento"></span>
        </span>
    </li>
</ul>


