<h2>Nuevo Producto</h2>
    <form action="">
         <input #nombreInput type=”text”   placeholder="Nombre">
         <input #precioInput type=”number”  placeholder="precio">
          descuento : <input #descuentoInput type="checkbox">
    </form>
    <button (click) = "AgregarProducto(nombreInput.value,precioInput.value,descuentoInput.checked)">Agregar Producto</button>
    

    <h2>Lista de Productos</h2>
<ul>
    <li *ngFor = "let elemento of productos">
        <span [ngStyle]="{'color': elemento.descuento ? 'green' : 'black' }">
            {{elemento.id}}
            {{elemento.nombre}}
            Precio:{{elemento.precio}}
            {{elemento.descuento}}
            <button (click) = "BorrarProducto(elemento.id)" *ngIf="productos.includes(elemento)" >x</button>
            <span *ngIf="elemento.descuento"></span>
        </span>
    </li>
</ul>


